body::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
}

.outer-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.element-hover {
  display: none;
}

.adjacent-hover:hover .element-hover {
  display: flex;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.text-card {
  color: #1e263a;
}

.bg-card {
  background-color: #1e263a;
}

.bg-card-content {
  background-color: #141824;
}

.bg-card-light {
  background-color: #293553;
}