body::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
}

.custom-scrollbar-x::-webkit-scrollbar {
  height: 0;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
}

.outer-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.child-hover {
  display: none;
}

.parent-hover:hover .child-hover {
  display: flex;
}

/* Fade animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.bg-mask-light {
  background-color: #1B130E33;
}

.bg-mask {
  background-color: #1B130E66;
}

.bg-mask-dark {
  background-color: #35261DAA;
}


/* Scroll animation */
.scroll-enter-active,
.scroll-leave-active {
  transition: transform 1.5s ease-in-out;
}

.scroll-enter-from {
  transform: translateX(calc(100% + 1rem));
}

.scroll-leave-to {
  transform: translateX(calc(-100% - 1rem));
}

.text-card {
  color: #ffffff;
}

.text-shadow {
  text-shadow: 0px 1px 2px #222;
}

.bg-card {
  background-color: #1e263a;
}

.bg-card-content {
  background-color: #141824;
}

.bg-card-light {
  background-color: #293553;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-ratio {
  aspect-ratio: 3 / 4;
}